<!-- Page to add code snippets -->

<h2>Add a snippet!</h2>


<form action="/add" method ="POST">
    Name:<input type="text" name ="name">
    Code:<textarea id="code" name="code" rows="15" cols="50"></textarea>
    Tags:<input type="text" name="tags">
    <input type="submit" value="search">
</form>

