<!--Applied to every page -->

<head> 
  <link rel="stylesheet" href="../public/css/main.css">
</head> 

<body class="layout"> 
<h1><img src="img/js.png" alt="jsicon" width="50" height="50">Snippets.JS</h1> 

<form action="/" class="button1">
<button type="submit">Home</button></form>
      
<form action="/add" class="button2"> 
<button type="submit">Add a Code Snippet</button></form>


{{{ body }}} 
</body>
</html>