<h1 style="text-align:center;">Add Movie</h1>

<center><form action="/movies/add" method ="POST">
    Title:<input type="text" name="title">
    by:<input type="text" name="director">
    Year:<input type="number" name="year">
    <input type="submit" value="Add">
</form></center>

<a href="/mymovies"><p style="text-align:center">See movies in session</p></a>
